
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Administration Section</h2>
<hr/>

<p>This is administration section for Sparsh Cultural Socity, all admin people can do some administrative 
    activities like Web Notice sending, member adding etc.An office administrator has the responsibility 
    of ensuring that the administrative activities within an socity operate efficiently, by providing 
    structure to other member throughout the organization.</p>

