@{
    ViewBag.Title = "About Us";
}
<br/><br/>
     <h2>Sparsh Cultural Society</h2>
@*<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<p>
    Sparsh Cultural Society is located at Sapooji Sukhobrishti Housing Complex Newtown Rarjarhat, Action Area-III and Kolkata – 700160. 
    This community was established in 2014 and now has over a more than 50 members in this community. Sparsh Cultural Society is open 
    and welcomes anyone who would like to join this community or participate in the event are most welcome
</p>

<p>
    This Association mainly provides a focal point for Bengalis and other community to organize all kind of Bengali festival like Durga Puja, 
    Lakshmi Puja, Kali Puja, Republic Day, Swaraswati Puja, Holi and Rabindra Jayanti and Nazurul Sandhya. Welcome to all housing member to 
    join us and participate all kind of activity and cultural program.
</p>
<p>
    Durga Puja is one of the biggest and most popular festivals of our society. We involves the ritual of worship of our Goddess Durga and
    the triumph of the Goddess Durga over the demon Mahishasura. The festival honours the indomitable female force in the form of ‘Shakti’.
    This day gives everyone a reason to celebrate; it’s an occasion for rejuvenation and reunion and a celebration of our customary culture
    and customs. While most of the people keep fast for the entire six days called Panchami, Shasthi, Saptami, Ashtami, Navami and Dashami are celebrated
    with much jollity and splendor.We are enjoying those Durga Puja day with lots of cultural activity in everyday evening and doing food distribution event as well.
</p>

<p>

</p>
