@{
    ViewBag.Title = "Contact";
}
<br /><br />
<h2>@ViewBag.Title.</h2>

<br />

<address>
    Shapoorji Pallonji Sukhobrishti Complex Rd, Action Area III, <br /> Chapna, Newtown, Rajarhat,<br />
    Kolkata West Bengal 700135<br />
    <abbr title="Phone">P:</abbr>
    +91 993 235 8575 
    
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Sparshsukhobristo@gmail.com">Support@example.com</a>
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>