@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <img src="~/Images/HomeImage.jpg" style=" width:100%; height:100%; background-repeat:no-repeat;" />
    <h4>Sparsh culture Socity</h4>
    <div class="col-md-12">
        <p style="text-align:justify;">
            Located in the Newtown Action Area -III of Rajarhat Kolkata, Sparsh Cultural Socity is 
            founded in the year 2012 for nurturing sporting activities among the youths of the neighbouring areas. It has almost 
            more than 50 members at present. There are lot of activity line Sport, Singing, Drawing. The activities are continuing in two streams - indoor and outdoor. 
            The club carries out a cricket coaching camp and plays football. In indoor we have Carrom, Table Tennis and Martial Arts fighting game.

            The club is not only limited its activity in the sporting curiiculum but also engaged in social welfare to cater the need of the society.
            The club is renowned in the state for organising one of the most famous Durga Pujas.


            The Sparsh culture Socity of India refers collectively to the thousands of distinct and unique cultures of all religions
            and communities present in India. India's languages, religions, dance, music, architecture, food, and customs
            differs from place to place within the country. The Indian culture, often labeled as an amalgamation of several
            cultures, spans across the Indian subcontinent and has been influenced by a history that is several millennia
            old.[1][2] Many elements of India's diverse cultures, such as Indian religions, Indian philosophy and Indian cuisine,
            have a profound impact across the world.
        </p>
    </div>

</div>
