
@{
    ViewBag.Title = "NoticeBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h4>Sparsh Cultural Socity Notice - </h4><p>@DateTime.Now</p>
<hr />

<p>@Html.Raw(@ViewBag.NoticeBoard)</p>

