
@{
    ViewBag.Title = "YearlySchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h3>Holiday & Puja Schedule 2018</h3>

<table>
    <thead>
        <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Holiday</th>
            <th class="remarks">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr class='regional'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-01-12" style="display:none;">2018-01-12</time>January 12
            </td>
            <td>
                Birthday of Swami Vivekananda
            </td>
            <td class="remarks">
                West Bengal only
            </td>
        </tr>
        <tr class='regional'>
            <td>Monday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-01-22" style="display:none;">2018-01-22</time>January 22
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/vasant_panchami.php'>Vasant Panchami</a>
            </td>
            <td class="remarks">
                Several states
            </td>
        </tr>
        <tr class='regional'>
            <td>Tuesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-01-23" style="display:none;">2018-01-23</time>January 23
            </td>
            <td>
                <a href='https://www.officeholidays.com/holidays/india/netaji-subhas-chandra-bose-jayanti'>Netaji Subhas Chandra Bose Jayanti</a>
            </td>
            <td class="remarks">
                Assam, Odisha, Tripura, West Bengal. Birthday of a prominent leader in the Indian freedom movement
            </td>
        </tr>
        <tr class='holiday'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-01-26" style="display:none;">2018-01-26</time>January 26
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/india_republic_day.php'>Republic Day </a>
            </td>
            <td class="remarks"></td>
        </tr>
        <tr class='regional'>
            <td>Thursday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-03-01" style="display:none;">2018-03-01</time>March 01
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/holi.php'>Doljatra</a>
            </td>
            <td class="remarks">
                Holi Dahan
            </td>
        </tr>
        <tr class='regional'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-03-02" style="display:none;">2018-03-02</time>March 02
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/holi.php'>Holi </a>
            </td>
            <td class="remarks"></td>
        </tr>
        <tr class='regional'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-03-30" style="display:none;">2018-03-30</time>March 30
            </td>
            <td>
                <a href='https://www.officeholidays.com/religious/christian/good_friday.php'>Good Friday </a>
            </td>
            <td class="remarks">
                Friday before Easter Sunday
            </td>
        </tr>
        <tr class='publicholiday'>
            <td>Sunday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-04-01" style="display:none;">2018-04-01</time>April 01
            </td>
            <td>
                Bank Holiday
            </td>
            <td class="remarks">
                Banks only. Annual accounts closing
            </td>
        </tr>
        <tr class='regional'>
            <td>Saturday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-04-14" style="display:none;">2018-04-14</time>April 14
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/ambedkar_jayanti.php'>Dr Ambedkar Jayanti</a>
            </td>
            <td class="remarks">
                Birthday of Bhimrao Ramji Ambedekar
            </td>
        </tr>
        <tr class='regional'>
            <td>Sunday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-04-15" style="display:none;">2018-04-15</time>April 15
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/bangladesh/bengali_new_year.php'>Bengali New Year</a>
            </td>
            <td class="remarks">
                Tripura, West Bengal only
            </td>
        </tr>
        <tr class='regional'>
            <td>Monday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-04-30" style="display:none;">2018-04-30</time>April 30
            </td>
            <td>
                <a href='https://www.officeholidays.com/religious/buddhist/buddhas_birthday.php'>Buddha Purnima </a>
            </td>
            <td class="remarks">
                Birth of Buddha
            </td>
        </tr>
        <tr class='regional'>
            <td>Tuesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-05-01" style="display:none;">2018-05-01</time>May 01
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/global/may_day.php'>May Day</a>
            </td>
            <td class="remarks">
                Many states
            </td>
        </tr>
        <tr class='govt_holiday'>
            <td>Wednesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-05-02" style="display:none;">2018-05-02</time>May 02
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/global/may_day.php'>May Day Holiday</a>
            </td>
            <td class="remarks">
                West Bengal, Govt. only
            </td>
        </tr>
        <tr class='regional'>
            <td>Wednesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-05-09" style="display:none;">2018-05-09</time>May 09
            </td>
            <td>
                Birthday of Rabindra Nath Tagore
            </td>
            <td class="remarks">
                Tripura, West Bengal
            </td>
        </tr>
        <tr class='regional'>
            <td>Saturday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-06-16" style="display:none;">2018-06-16</time>June 16
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/idul_fitr.php'>Idul Fitr </a>
            </td>
            <td class="remarks">
                Several states
            </td>
        </tr>
        <tr class='holiday'>
            <td>Wednesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-08-15" style="display:none;">2018-08-15</time>August 15
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/independence_day.php'>Independence Day </a>
            </td>
            <td class="remarks"></td>
        </tr>
        <tr class='regional'>
            <td>Wednesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-08-22" style="display:none;">2018-08-22</time>August 22
            </td>
            <td>
                <a href='https://www.officeholidays.com/religious/muslim/al_ahda.php'>Idul Juha</a>
            </td>
            <td class="remarks">
                Bakrid. Many states
            </td>
        </tr>
        <tr class='regional'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-09-21" style="display:none;">2018-09-21</time>September 21
            </td>
            <td>
                <a href='https://www.officeholidays.com/religious/muslim/ashura.php'>Muharram</a>
            </td>
            <td class="remarks">
                Many states
            </td>
        </tr>
        <tr class='holiday'>
            <td>Tuesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-02" style="display:none;">2018-10-02</time>October 02
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/gandhi_jayanti.php'>Mahatma Gandhi Birthday </a>
            </td>
            <td class="remarks">
                Gandhi Jayanti
            </td>
        </tr>
        <tr class='regional'>
            <td>Monday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-08" style="display:none;">2018-10-08</time>October 08
            </td>
            <td>
                <a href='https://www.officeholidays.com/holidays/india/durga-puja-mahalaya'>Mahalaya</a>
            </td>
            <td class="remarks">
                Karnataka, Odisha, Tripura, West Bengal only.
            </td>
        </tr>
        <tr class='regional'>
            <td>Tuesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-16" style="display:none;">2018-10-16</time>October 16
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/durga_puja.php#saptami'>Maha Saptami</a>
            </td>
            <td class="remarks">
                Several states
            </td>
        </tr>
        <tr class='regional'>
            <td>Wednesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-17" style="display:none;">2018-10-17</time>October 17
            </td>
            <td>
                <a href='https://www.officeholidays.com/holidays/india/durga-puja-durgastami'>Durgastami</a>
            </td>
            <td class="remarks">
                Several states
            </td>
        </tr>
        <tr class='regional'>
            <td>Thursday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-18" style="display:none;">2018-10-18</time>October 18
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/durga_puja.php'>Navami of Durga Puja</a>
            </td>
            <td class="remarks">
                Several states
            </td>
        </tr>
        <tr class='regional'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-19" style="display:none;">2018-10-19</time>October 19
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/dusserhra.php'>Dussehra</a>
            </td>
            <td class="remarks">
                Dasara/Vijaya Dashami
            </td>
        </tr>
        <tr class='regional'>
            <td>Wednesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-10-24" style="display:none;">2018-10-24</time>October 24
            </td>
            <td>
                Lakshmi Puja
            </td>
            <td class="remarks">
                Odisha, Tripura, West Bengal only.
            </td>
        </tr>
        <tr class='regional'>
            <td>Tuesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-11-06" style="display:none;">2018-11-06</time>November 06
            </td>
            <td>
                Kali Puja
            </td>
            <td class="remarks">
                Assam, West Bengal. Festival dedicated to the Hindu goddess Kali
            </td>
        </tr>
        <tr class='regional'>
            <td>Friday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-11-23" style="display:none;">2018-11-23</time>November 23
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/india/guru_nanak.php'>Guru Nanak Birthday </a>
            </td>
            <td class="remarks">
                The Birthday of the founder of Sikhism, falls on full moon day of the month Kartik
            </td>
        </tr>
        <tr class='regional'>
            <td>Tuesday</td>
            <td style="white-space: nowrap">
                <time itemprop="startDate" datetime="2018-12-25" style="display:none;">2018-12-25</time>December 25
            </td>
            <td>
                <a href='https://www.officeholidays.com/countries/global/christmas_day.php'>Christmas Day </a>
            </td>
            <td class="remarks">
                Observed in all states
            </td>
        </tr>
    </tbody>
</table>

